.root {
    -fx-app-background: #FFF;
    -fx-background-color: -fx-app-background;
    -fx-border-color: #DDD;
}

.right-page-turn {
    -fx-rotate: 3;
    -fx-translate-y: -2;
    -fx-background-color: -fx-app-background;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 10), 10, 10, 0.0, 0.0);
}

.content-pane {
    -fx-background-color: #FFF;
}

