* {
    -fx-font-family: "Noto Sans Thai";
    -fx-text-fill: #000;
}

.table-view {
    -fx-background-radius: 5;
}

.table-view .column-header{
    -fx-background-color: #757575;
}

#columnDate {
    -fx-background-radius: 5 0 0 0;
}

#columnPrice {
    -fx-background-radius: 0 5 0 0;
}

.table-view .column-header .filler {
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-border-color: transparent;
}

.table-view .column-header .filler {
    -fx-size: 40;
    -fx-border-width: 0 0 10 0;
    -fx-border-color: transparent;
}

.table-view .column-header .label {
    -fx-text-fill: #FFFFFF;
}